.img-our-service{
    padding: 50px;
}

.list{
    position: static;
    width: 20px;
    height: 20px;
    left: 40px;
    top: 20px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    
    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 16px;
}